{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
{{identified_post.title}}
{% endblock title %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">  
{% endblock css_files %}


{% block content %}

<!-- {% if comment_form.errors %}
<div id="alert">
    <h2>Saving the comment failed</h2>
    <p>Please check the comment form below</p>
    <a href="#comment-form">Fix</a>
</div>
{% endif %} -->

    <section id="summary">
        <h2>{{identified_post.title|title}}</h2>
        <div>
            {% for tag in post_tags %}
                <span class="tag">{{tag.caption}}</span>
            {% endfor %}
        </div>
        <article>
            <img src="{{identified_post.image.url}}" alt="{{identified_post.title}}">
            <!-- mailto is built in django which use to open mail box and send email to author after click on it -->
            <address><a href="mailto:{{identified_post.author.email_address}}">{{identified_post.author}}</a></address>
            <div>
                <!-- this filter for date formate -->
                last update on <time>{{identified_post.date|date:" D d M y"}}</time>
            </div>
        </article>
    </section>



    <main>
        <!-- we use linebreak to make pragrah as we do and not to be in one line -->
        {{identified_post.content|linebreaks}}
    </main>

    <section class="pdf">
        <embed src="{{identified_post.pdf_word_file.url}}" type="application/pdf" width="80%" height="700px" style="margin: 2rem 7rem 2rem 7rem;">
    </section>

    <section id="comments">
        <ul>
            {% for comment in comments %}
            <li>
                <h2>{{ comment.user_name }}</h2>
                <p>{{ comment.text|linebreaks }}</p>
            </li>
            {% endfor %}
        </ul>
    </section>
    
    <section  id="comment-form">
        <h2>Your Comment</h2>
        <!-- we use action in form to go to it when we press submit button -->
        <form action="{% url 'post_detail-page' identified_post.slug %}" method="POST">
            {% csrf_token %}
            {{comment_form|crispy}}
            <!-- {% for form_field in comment_form %} -->
                <!-- <div class="form-control {% if form_field.errors %}invalid{% endif %}"> -->
                    <!-- {{ form_field.label_tag }}
                    {{ form_field }} -->
                    <!-- {{ form_field.errors }} -->
                    <!-- <div class="form-group">
                        <h5>{{ form_field.label_tag }}  {{ form_field }}</h5>
                    </div> -->
                <!-- </div> -->
            <!-- {% endfor %} -->
            <button>Save Comment</button>
        </form>
    </section>



{% endblock content %}