{% load static %} 

<link rel="stylesheet" href="{% static 'footer.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-2 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-md-5 item text">
                        <h3>Heliopolis</h3>
                        <p>6 Mohammad Askar St., from El Hegaz st., (Heliopolis hospital to El Mahkama direction) Ground Floor. </p>
                        <p><i class="bi bi-whatsapp"></i> +201020348979</p>
                    </div>
                    <div class="col-md-5 item text">
                        <h3>Maadi</h3>
                        <p>6 Mohammad Askar St., from El Hegaz st., (Heliopolis hospital to El Mahkama direction) Ground Floor. </p>
                        <p><i class="bi bi-whatsapp"></i> +201020348979</p>
                    </div>
                    <div class="col item social">
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-snapchat"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
                <p class="copyright">ShefaSystems © 2021</p>
            </div>
        </footer>
    </div>