body {
    background-color: #e7e7e7;
}

#main-navigation {
    background-color: #390281;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

h3{
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
}

hr{
    width: 70%;
    height: 2px;
    margin: 2rem auto 3rem auto ;
    border-width: 4px;
    border-color: #390281;
    }

.container1 div{
    /* width: 50%; */
    height: 20rem;
    border-radius: 12px;
    border-top:5px solid #ffe1bf;
    background-color: rgb(214, 213, 213);
    margin: auto;
    margin-bottom: 3rem;
}

.container1 div h3{
    font-size: 2rem;
    text-align: center;
    margin: -1.5rem;
    /* background-color: rgb(214, 213, 213); */
}

.container1 div p{
    font-size: 1.3rem;
    text-align: center;
    margin: 0.3rem;
    /* padding-left: 4rem; */
    /* width: 60%; */
}

.map-responsive{
    overflow:hidden;
    padding-bottom:30%;
    position:relative;
    margin:auto;
    border: 3px solid #ffe1bf;
    border-radius: 12px;
    margin-bottom: 3rem;
}

.map-responsive iframe{
    border:0;
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    margin:auto;
}

.input-form{
    width: 40%;
    height: 20rem;
    background-color: rgb(214, 213, 213);
    padding: 1rem;
    padding-bottom: 5rem;
    /* margin:auto; */
    margin: 3rem auto auto auto;
    border: 3px solid #ffe1bf;
    border-radius: 12px;
    margin-bottom: 3rem;
    position: relative;
}

.input-form p{
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 1rem;
}














